.login {
  color: #262626;
  justify-content: center;
  display: flex;
  margin-top: 12px;
  transform: translateY(100%);
  margin: auto;
  box-sizing: border-box;
  padding-bottom: 44px;
  min-height: 100%;

  .window {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    max-width: 350px;
    width: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    position: relative;

    .heading {
      margin: 22px auto 12px;
      background-repeat: no-repeat;
      background-position: -98px -150px;
      height: 51px;
      width: 175px;
      background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_f01fcb405c10.png/f01fcb405c10.png);
      display: block;
      overflow: hidden;
      text-indent: 110%;
      white-space: nowrap;
    }

    .login-form {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .field {
        margin: 0 40px 6px;
        border: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0;

        .layer1 {
          align-items: center;
          border-radius: 3px;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          font-size: 14px;
          width: 100%;
          border: 1px solid #efefef;
          background: #fafafa;

          .layer2 {
            height: 36px;
            flex: 1 0 0;
            padding: 0;
            margin: 0;
            min-width: 0;
            align-items: stretch;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            label {
              transform: scale(0.83333) translateY(-10px);
              color: #999;
              font-size: 12px;
              height: 36px;
              left: 48px;
              line-height: 36px;
              overflow: hidden;
              pointer-events: none;
              position: absolute;
              right: 0;
              text-overflow: ellipsis;
              transform-origin: left;
              user-select: none;
              white-space: nowrap;
            }

            input {
              font-size: 12px;
              padding: 14px 0 2px 8px !important;
              border: 0;
              flex: 1 0 0;
              outline: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              background: #fafafa;
              font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Helvetica, Arial, sans-serif;
              background-image: none !important;
            }
          }
        }
      }

      .action {
        margin-top: 8px;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 8px;
        flex: 0 0 auto;
        justify-content: flex-start;
        align-items: stretch;
        display: flex;
        box-sizing: border-box;
        align-content: stretch;

        .button {
          background-color: #3897f0;
          border: 1px solid #3897f0;
          border-radius: 4px;
          color: #fff;
          position: relative;
          cursor: pointer;
          display: block;
          font-weight: 600;
          padding: 5px 9px;
          text-overflow: ellipsis;
          user-select: none;
          width: 100%;
          outline: 0 !important;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica, Arial, sans-serif;
          font-size: 14px;
          line-height: 18px;

          .content {
            justify-content: center;
            align-items: stretch;
            outline: 0 !important;
            display: flex;
          }
        }
      }
    }
  }
}
